@{
    ViewBag.Title = "Мебель НЕКСТ";
}

<div class="bg_text_favorit">
    <div class="first_view">
        <div class="header">
            <div class="head_1 wrap">
                <div class="head_logo">
                    <img src="/Content/images/logo_1.png">
                </div>

                <div class="head_zag">
                    <span class="zagolovok_1 block_center">Производство мебели на заказ</span>
                    <span class="zagolovok_2 block_center">в Нижнем Новгороде</span>
                </div>

                <div class="head_right">
                    <span class="head_phone block_center">@CommonHtmlHelpers.Phone()</span>
                    <span class="head_address block_center">@CommonHtmlHelpers.Address()</span>
                </div>
            </div>
        </div>

        <div class="nav-menu head_menu top_menu">
            <div class="wrap">
                <a href="#typical_katalog">Каталог</a>
                <a href="#materials">Материалы</a>
                <a href="#design">Дизайн-проект</a>
                <a href="#get_zamer">Заказать</a>
                <a class="open-call-back-popup_3" href="#">Бесплатный звонок</a>
                <a href="#questions">Это актуально</a>
                
            </div>
        </div>

        <div class="head_center wrap">
            <span class="head_center_1 stroke_2px">Кухни, шкафы-купе,</span>
            <span class="head_center_2 stroke_2px">детские, гостиные</span>
        </div>

        <div class="head_bottom wrap">
            <div class="head_bottom_1">
                <span class="head_bottom_str1 stroke_2px">Гарантия 2 года</span>
            </div>

            <div class="head_bottom_2">
            </div>

            <div class="head_bottom_3">
                <span class="head_bottom_str1 stroke_2px">Рассрочка 0%</span>
            </div>
        </div>

    </div>
</div>

<div class="triggers wrap" style=" text-align:justify;">

    <span class="trig_text"> Cегодня компания работает не только как производитель всех типов корпусной мебели, но и как дизайнерское агентство, сопровождающее клиента на всех этапах работы, от идеи до реализации. благодаря серьезному опыту работы, нашим дизайнерам, менеджерам и консультантам удается легко выполнять любые идеи и пожелания клиентов.</span>
    <span class="trig_text" style="margin-top:10px;"> Качество нашей продукции обусловлено сотрудничеством только с лучшими производителями.</span>
    <span class="trig_text" style="margin-top:10px; text-align:center;">
        <style>
            .logo_partners {
                width:150px;
            }
        </style>
        <img class="logo_partners" src="/Content/images/evrohim.png" alt="evrohim" />
        <img class="logo_partners" src="/Content/images/kronospan.png" alt="kronospan" />
        <img class="logo_partners" src="/Content/images/lamarty.png" alt="lamarty" />
        <img class="logo_partners" src="/Content/images/cleaf.png" alt="cleaf" />
        <img class="logo_partners" src="/Content/images/sidak.png" alt="sidak" />
        <img class="logo_partners" src="/Content/images/blum.png" alt="blum" />
    </span>
    <span class="trig_text" style="margin-top:10px;"> Наша цель - сделать качественный уютный интерьер максимально доступным!</span>

</div>

<div class="triggers wrap" style=" text-align:justify;">
    <div class="trig_block trig_prev_1">
        <span class="trig_desc">Бесплатные услуги</span>
        <span class="trig_text">Выезд мастера, консультация и замер помещения, а так же составление дизайн-проекта осуществляется бесплатно. Доставка, подъем и сборка так же осуществляется бесплатно.</span>
    </div>

    <div class="trig_block trig_prev_2" style="margin-left:40px;">
        <span class="trig_desc">От «Эконом» до «Премиум»</span>
        <span class="trig_text">Во время предварительного просчета стоимости Вашего заказа мы предлагаем 3 ценовых варианта - Эконом, Стандарт и Премиум. Мы готовы предложить решение под любой бюджет.</span>
    </div>

    <div class="trig_block trig_prev_3" style="margin-left:250px;">
        <span class="trig_desc">Индивидуальный подход</span>
        <span class="trig_text">Мы подготовим дизайн-проект с учетом особенностей пространства Вашего помещения, Ваших личных предпочтений и желаний.</span>
        <br/>
        <span class="trig_text"> </span>
    </div>
</div>

<div id="typical_katalog">
    <div class="wrap">
        <h1 class="slide_head">Галерея</h1>

        <ul class="tab-mat tab-style">
            <li><a href="#tab-typ_cat-1">Кухни</a></li>
            <li><a href="#tab-typ_cat-2">Шкафы-купе</a></li>
            <li><a href="#tab-typ_cat-3">Детские</a></li>
            <li><a href="#tab-typ_cat-4">Гостиные</a></li>
        </ul>

        <div class="mat_slide" style="height:650px;">
            
            <div id="tab-typ_cat-1" class="typical_katalog_1">
                <div class="mat_slide_type_1 mat_slide_style" style="height:500px;">
                    <div id="tab-typ_cat-1-1">

                        <article class="slider_galery">
                            <div class="slider__gallery1 x_slider">
                                <i class="next1__in1 x_next"></i>
                                <i class="prev1__in1 x_prev"></i>

                                <div class="slider1__in1">
                                    @{
                                        string path = "/Content/images/gallery/kuhni/klassika/";
                                        string[] filenames = Directory.GetFiles(Server.MapPath(path), "*.jpg");
                                        foreach (var filename in filenames)
                                        {
                                            <div class="slide_item"><div class="slide2"><img src="@(path + Path.GetFileName(filename))" /></div></div>
                                        }
                                    }
                                </div>

                                <script>
                                    $('.slider1__in1')
                                    .after('<div class="nav_design" id="nav1__in1">')
                                    .cycle({
                                        speed: 'slow',
                                        timeout: 0,
                                        pager: '#nav1__in1',
                                        next: '.next1__in1',
                                        prev: '.prev1__in1'
                                    });
                                </script>
                            </div>
                        </article>

                        <div class="mat_right">
                            <h2 class="mat_slide_head">Классика</h2>

                            <span class="katalog_desc">Классические кухни наделены особым очарованием, они красивы, удобны и функциональны, при этом неплохо вписываются в интерьер маленькой квартиры, не говоря про городской коттедж или загородный дом.</span>
                            <span class="katalog_desc">Классике присуща симметрия во всём, поэтому на Вашей классической кухне должны преобладать прямоугольные строгие формы и чёткие прямые линии. Центром симметрии, как правило, является плита, которая оформляется в виде камина.</span>

                            <div id="button2">
                                <a onclick="$('input:hidden[name=page-name-2]').val($(this).parents('.mat_right').find('h2').text());" class="open-call-back-popup fon3" href="#">Расчет стоимости</a>
                            </div>
                        </div>
                    </div>
                    <div id="tab-typ_cat-1-2">
                        <article class="slider_galery">
                            <div class="slider__gallery2 x_slider">
                                <i class="next1__in2 x_next"></i>
                                <i class="prev1__in2 x_prev"></i>

                                <div class="slider1__in2">
                                    @{
                                        path = "/Content/images/gallery/kuhni/modern/";
                                        filenames = Directory.GetFiles(Server.MapPath(path), "*.jpg");
                                        foreach (var filename in filenames)
                                        {
                                            <div class="slide_item"><div class="slide2"><img src="@(path + Path.GetFileName(filename))" /></div></div>
                                        }
                                    }
                                </div>

                                <script>
                                    $('.slider1__in2')
                                    .after('<div class="nav_design" id="nav1__in2">')
                                    .cycle({
                                        speed: 'slow',
                                        timeout: 0,
                                        pager: '#nav1__in2',
                                        next: '.next1__in2',
                                        prev: '.prev1__in2'
                                    });
                                </script>
                            </div>
                        </article>

                        <div class="mat_right">
                            <h2 class="mat_slide_head">Модерн</h2>

                            <span class="katalog_desc">Мебель в стиле «Модерн» отличают чистые линии, яркие цвета, нестандартные решения. Такие кухни иногда называют инновационными, потому что при их создании используют самые новые материалы и технологии.</span>
                            <span class="katalog_desc">Продуманность и рациональность модерна делает его уместным в кухне любой площади. Современная эклектика, желание брать из каждого стиля лучшее и воплощать его в рамках одной кухни — это и есть кухня в стиле «Модерн».</span>

                            <div id="button2">
                                <a onclick="$('input:hidden[name=page-name-2]').val($(this).parents('.mat_right').find('h2').text());" class="open-call-back-popup fon3" href="#">Расчет стоимости</a>
                            </div>
                        </div>
                    </div>

                    <div id="tab-typ_cat-1-3">
                        <article class="slider_galery">
                            <div class="slider__gallery3 x_slider">
                                <i class="next1__in3 x_next"></i>
                                <i class="prev1__in3 x_prev"></i>

                                <div class="slider1__in3">
                                    @{
                                        path = "/Content/images/gallery/kuhni/vintaj/";
                                        filenames = Directory.GetFiles(Server.MapPath(path), "*.jpg");
                                        foreach (var filename in filenames){
                                            <div class="slide_item"><div class="slide2"><img src="@(path + Path.GetFileName(filename))" /></div></div>    
                                        }
                                    }
                                </div>

                                <script>
                                    $('.slider1__in3')
                                    .after('<div class="nav_design" id="nav1__in3">')
                                    .cycle({
                                        speed: 'slow',
                                        timeout: 0,
                                        pager: '#nav1__in3',
                                        next: '.next1__in3',
                                        prev: '.prev1__in3'
                                    });
                                </script>
                            </div>
                        </article>

                        <div class="mat_right">
                            <h2 class="mat_slide_head">Винтаж</h2>

                            <span class="katalog_desc">Стиль «Винтаж» визуально довольно прост, но все же есть в его оформлении нечто такое, что непременно цепляет душу. Возможно, таким своего рода якорем является светлая палитра и простоватые шкафы с претензией на классику с филенками и скромными резными вставками. Как бы там ни было, а смотреть, и тем более находиться на кухне в стиле «Винтаж» очень приятно.</span>
                            <span class="katalog_desc">Наиболее подходящими оттенками для винтажной кухни считаются светлые пастельные тона, такие как бежевые, белые, карамельные, серые, нежно-голубые, лавандовые, салатные и бледно-розовые.</span>

                            <div id="button2">
                                <a onclick="$('input:hidden[name=page-name-2]').val($(this).parents('.mat_right').find('h2').text());" class="open-call-back-popup fon3" href="#">Расчет стоимости</a>
                            </div>
                        </div>
                    </div>

                    <div id="tab-typ_cat-1-4">
                        <article class="slider_galery">
                            <div class="slider__gallery4 x_slider">
                                <i class="next1__in4 x_next"></i>
                                <i class="prev1__in4 x_prev"></i>

                                <div class="slider1__in4">
                                    @{
                                        path = "/Content/images/gallery/kuhni/hitec/";
                                        filenames = Directory.GetFiles(Server.MapPath(path), "*.jpg");
                                        foreach (var filename in filenames)
                                        {
                                            <div class="slide_item"><div class="slide2"><img src="@(path + Path.GetFileName(filename))" /></div></div>
                                        }
                                    }
                                </div>

                                <script>
                                    $('.slider1__in4')
                                    .after('<div class="nav_design" id="nav1__in4">')
                                    .cycle({
                                        speed: 'slow',
                                        timeout: 0,
                                        pager: '#nav1__in4',
                                        next: '.next1__in4',
                                        prev: '.prev1__in4'
                                    });
                                </script>
                            </div>
                        </article>

                        <div class="mat_right">
                            <h2 class="mat_slide_head">Хайтек</h2>

                            <span class="katalog_desc">Хай-тек относят к ультрасовременным стилям. Стилю характерны стремительные, прямые линии, обилие стеклянных и металлических деталей.</span>
                            <span class="katalog_desc">Материалы – стекло, металл, натуральное дерево. Формы и пропорции мебели тщательно продуманы. Полное отсутствие украшений компенсируется «работой» материала: игрой света на стекле, блеском хромированных и металлических поверхностей политурой древесины и т.д.</span>

                            <div id="button2">
                                <a onclick="$('input:hidden[name=page-name-2]').val($(this).parents('.mat_right').find('h2').text());" class="open-call-back-popup fon3" href="#">Расчет стоимости</a>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="tab-mat-type-1 tab-mat-style">
                    <li>
                        <a href="#tab-typ_cat-1-1">
                            <i class="mat_img" style="background: url(/wp-content/uploads/2016/05/5252.jpg) no-repeat"></i>
                            <span>Классика</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab-typ_cat-1-2">
                            <i class="mat_img" style="background: url(/wp-content/uploads/2016/05/123123.jpg) no-repeat"></i>
                            <span>Модерн</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab-typ_cat-1-3">
                            <i class="mat_img" style="background: url(/wp-content/uploads/2016/05/block-112.png) no-repeat"></i>
                            <span>Винтаж</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab-typ_cat-1-4">
                            <i class="mat_img" style="background: url(/wp-content/uploads/2016/05/45646.jpg) no-repeat"></i>
                            <span>Хайтек</span>
                        </a>
                    </li>
                </ul>
            </div>



            <div id="tab-typ_cat-2" class="typical_katalog_2">
                <div class="mat_slide_type_2 mat_slide_style" style="height:500px;">
                    <div id="tab-typ_cat-2-1">

                        <article class="slider_galery">
                            <div class="x_slider">
                                <i class="next2__in1 x_next"></i>
                                <i class="prev2__in1 x_prev"></i>

                                <div class="slider2__in1">
                                    <div class="slide_item">
                                        <div class="slide2">
                                            <img src="/wp-content/uploads/2016/05/5.png" />
                                        </div>
                                    </div>
                                    <div class="slide_item">
                                        <div class="slide2">
                                            <img src="/wp-content/uploads/2016/05/3.jpg" />
                                        </div>
                                    </div>
                                </div>

                                <script>
                                    $('.slider2__in1')
                                    .after('<div class="nav_design" id="nav2__in1">')
                                    .cycle({
                                        speed: 'slow',
                                        timeout: 0,
                                        pager: '#nav2__in1',
                                        next: '.next2__in1',
                                        prev: '.prev2__in1'
                                    });
                                </script>
                            </div>
                        </article>

                        <div class="mat_right">
                            <h2 class="mat_slide_head">Подпункт шкафы 1</h2>

                            <span class="katalog_desc">Текст подпункт шкафы 1</span>

                            <div class="mat_triggers">
                            </div>

                            <div id="button2">
                                <a onclick="$('input:hidden[name=page-name-2]').val($(this).parents('.mat_right').find('h2').text());" class="open-call-back-popup fon3" href="#">Расчет стоимости</a>
                            </div>
                        </div>
                    </div>
                    <div id="tab-typ_cat-2-2">


                        <article class="slider_galery">
                            <div class="x_slider">
                                <i class="next2__in2 x_next"></i>
                                <i class="prev2__in2 x_prev"></i>

                                <div class="slider2__in2">
                                    <div class="slide_item">
                                        <div class="slide2">
                                            <img src="/wp-content/uploads/2016/05/3-1.jpg" />
                                        </div>
                                    </div>
                                    <div class="slide_item">
                                        <div class="slide2">
                                            <img src="/wp-content/uploads/2016/05/4.jpg" />
                                        </div>
                                    </div>
                                </div>

                                <script>
                                    $('.slider2__in2')
                                    .after('<div class="nav_design" id="nav2__in2">')
                                    .cycle({
                                        speed: 'slow',
                                        timeout: 0,
                                        pager: '#nav2__in2',
                                        next: '.next2__in2',
                                        prev: '.prev2__in2'
                                    });
                                </script>
                            </div>
                        </article>



                        <div class="mat_right">
                            <h2 class="mat_slide_head">Подпункт шкафы 2</h2>

                            <span class="katalog_desc">Текст подпункт шкафы 2</span>

                            <div class="mat_triggers">
                            </div>

                            <div id="button2">
                                <a onclick="$('input:hidden[name=page-name-2]').val($(this).parents('.mat_right').find('h2').text());" class="open-call-back-popup fon3" href="#">Расчет стоимости</a>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="tab-mat-type-2 tab-mat-style">
                    <li>
                        <a href="#tab-typ_cat-2-1">
                            <i class="mat_img" style="background: url(/wp-content/uploads/2016/05/6-1.jpg) no-repeat"></i>
                            <span>Подпункт шкафы 1</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab-typ_cat-2-2">
                            <i class="mat_img" style="background: url(/wp-content/uploads/2016/05/Skladnoj-podemnyj-mehanizm-Blum-2.jpg) no-repeat"></i>
                            <span>Подпункт шкафы 2</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="tab-typ_cat-3" class="typical_katalog_3">
                <div class="mat_slide_type_3 mat_slide_style" style="height:500px;">
                    <div id="tab-typ_cat-3-1">

                        <article class="slider_galery">
                            <div class="x_slider">
                                <i class="next3__in1 x_next"></i>
                                <i class="prev3__in1 x_prev"></i>

                                <div class="slider3__in1">
                                    @{
                                        path = "/Content/images/gallery/detskie/";
                                        filenames = Directory.GetFiles(Server.MapPath(path), "*.jpg");
                                        foreach (var filename in filenames)
                                        {
                                            <div class="slide_item"><div class="slide2"><img src="@(path + Path.GetFileName(filename))" /></div></div>
                                        }
                                    }
                                </div>

                                <script>
                                    $('.slider3__in1')
                                    .after('<div class="nav_design" id="nav3__in1">')
                                    .cycle({
                                        speed: 'slow',
                                        timeout: 0,
                                        pager: '#nav3__in1',
                                        next: '.next3__in1',
                                        prev: '.prev3__in1'
                                    });
                                </script>
                            </div>
                        </article>



                        <div class="mat_right">
                            <h2 class="mat_slide_head">Подпункт детские 1</h2>

                            <span class="katalog_desc">Текст подпункт Детские 1</span>

                            <div class="mat_triggers">
                            </div>

                            <div id="button2">
                                <a onclick="$('input:hidden[name=page-name-2]').val($(this).parents('.mat_right').find('h2').text());" class="open-call-back-popup fon3" href="#">Расчет стоимости</a>
                            </div>
                        </div>
                    </div>

                </div>

                <ul class="tab-mat-type-3 tab-mat-style">
                    <li>
                        <a href="#tab-typ_cat-3-1">
                            <i class="mat_img" style="background: url(/wp-content/uploads/2016/05/789-1.jpg) no-repeat"></i>
                            <span>Подпункт детские 1</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="tab-typ_cat-4" class="typical_katalog_4">
                <div class="mat_slide_type_4 mat_slide_style" style="height:500px;">
                    <div id="tab-typ_cat-4-1">


                        <article class="slider_galery">
                            <div class="x_slider">
                                <i class="next4__in1 x_next"></i>
                                <i class="prev4__in1 x_prev"></i>

                                <div class="slider4__in1">
                                    @{
                                        path = "/Content/images/gallery/gostinye/";
                                        filenames = Directory.GetFiles(Server.MapPath(path), "*.jpg");
                                        foreach (var filename in filenames)
                                        {
                                            <div class="slide_item"><div class="slide2"><img src="@(path + Path.GetFileName(filename))" /></div></div>
                                        }
                                    }
                                </div>

                                <script>
                                    $('.slider4__in1')
                                    .after('<div class="nav_design" id="na4__in1">')
                                    .cycle({
                                        speed: 'slow',
                                        timeout: 0,
                                        pager: '#nav4__in1',
                                        next: '.next4__in1',
                                        prev: '.prev4__in1'
                                    });
                                </script>
                            </div>
                        </article>

                        <div class="mat_right">
                            <h2 class="mat_slide_head">Подпункт гостиные 1</h2>

                            <span class="katalog_desc">Текст подпункт гостиные 1</span>

                            <div class="mat_triggers">
                            </div>

                            <div id="button2">
                                <a onclick="$('input:hidden[name=page-name-2]').val($(this).parents('.mat_right').find('h2').text());" class="open-call-back-popup fon3" href="#">Расчет стоимости</a>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="tab-mat-type-4 tab-mat-style">
                    <li>
                        <a href="#tab-typ_cat-4-1">
                            <i class="mat_img" style="background: url(/wp-content/uploads/2016/05/1111-1.jpg) no-repeat"></i>
                            <span>Подпункт гостиные 1</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="materials">
    <div class="wrap">
        <h1 class="slide_head">Материалы</h1>

        <ul class="tab-mat tab-style">
            <li><a href="#tab-mat-1">Корпус изделий</a></li>
            <li><a href="#tab-mat-2">Фасады</a></li>
            <li><a href="#tab-mat-3">Столешницы</a></li>
            <li><a href="#tab-mat-4">Фартуки для кухни</a></li>
            <li><a href="#tab-mat-5">Фурнитура</a></li>
        </ul>

        <div class="mat_slide">
            <div id="tab-mat-1" class="materials_1">
                <div class="mat_slide_type_1 mat_slide_style">
                    <div id="tab-mat-1-1">


                        <article class="slider_galery">
                            <div class="x_slider_2">
                                <i class="next_1_1 x_next_2"></i>
                                <i class="prev_1_1 x_prev_2"></i>

                                <div class="slider_1_1">
                                    <div class="slide_item">
                                        <div class="slide3">
                                            <img src="/Content/images/gallery/901.jpg" />
                                        </div>
                                    </div>
                                    <div class="slide_item">
                                        <div class="slide3">
                                            <img src="/Content/images/gallery/930-1.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>



                        <div class="mat_right">
                            <h2 class="mat_slide_head">Вариант корпуса 1</h2>

                            <span class="katalog_desc">Описание варианта корпуса 1.</span>

                            <div class="mat_triggers">
                                <span style="background: url(Content/images/color_3.png) no-repeat left">Свойство 1</span>
                                <span style="background: url(Content/images/hardness_1.png) no-repeat left">Свойство 2</span>
                                <span style="background: url(Content/images/price_2.png) no-repeat left">Свойство 3</span>
                            </div>


                        </div>
                    </div>
                    <div id="tab-mat-1-2">


                        <article class="slider_galery">
                            <div class="x_slider_2">
                                <i class="next_1_2 x_next_2"></i>
                                <i class="prev_1_2 x_prev_2"></i>

                                <div class="slider_1_2">
                                    <div class="slide_item">
                                        <div class="slide3">
                                            <img src="/wp-content/uploads/2016/05/vERXycosSCA.jpg" />
                                        </div>
                                    </div>
                                    <div class="slide_item">
                                        <div class="slide3">
                                            <img src="/wp-content/uploads/2016/05/pop29dk3nZg-1.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>



                        <div class="mat_right">
                            <h2 class="mat_slide_head">Вариант корпуса 2</h2>

                            <span class="katalog_desc">Описание варианта корпуса 2.</span>

                            <div class="mat_triggers">
                                <span style="background: url(Content/images/color_3.png) no-repeat left">Свойство 1</span>
                                <span style="background: url(Content/images/hardness_1.png) no-repeat left">Свойство 2</span>
                                <span style="background: url(Content/images/price_2.png) no-repeat left">Свойство 3</span>
                            </div>


                        </div>
                    </div>
                </div>

                <ul class="tab-mat-type-1 tab-mat-style">
                    <li>
                        <a href="#tab-mat-1-1">
                            <i class="mat_img" style="background: url(/wp-content/uploads/2016/05/5252.jpg) no-repeat"></i>
                            <span>Вариант корпуса 1</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab-mat-1-2">
                            <i class="mat_img" style="background: url(/wp-content/uploads/2016/05/123123.jpg) no-repeat"></i>
                            <span>Вариант корпуса 2</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="tab-mat-2" class="materials_2">
                <div class="mat_slide_type_2 mat_slide_style">
                    <div id="tab-mat-2-1">


                        <article class="slider_galery">
                            <div class="x_slider_2">
                                <i class="next_2_1 x_next_2"></i>
                                <i class="prev_2_1 x_prev_2"></i>

                                <div class="slider_2_1">
                                    <div class="slide_item">
                                        <div class="slide3">
                                            <img src="/wp-content/uploads/2016/05/5.png" />
                                        </div>
                                    </div>
                                    <div class="slide_item">
                                        <div class="slide3">
                                            <img src="/wp-content/uploads/2016/05/3.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>



                        <div class="mat_right">
                            <h2 class="mat_slide_head">Вариант фасада 1</h2>

                            <span class="katalog_desc">Описание варианта фасада 1.</span>

                            <div class="mat_triggers">
                            </div>


                        </div>
                    </div>
                    
                </div>

                <ul class="tab-mat-type-2 tab-mat-style">
                    <li>
                        <a href="#tab-mat-2-1">
                            <i class="mat_img" style="background: url(/wp-content/uploads/2016/05/6-1.jpg) no-repeat"></i>
                            <span>Вариант фасада 1</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="tab-mat-3" class="materials_3">
                <div class="mat_slide_type_3 mat_slide_style">
                    <div id="tab-mat-3-1">


                        <article class="slider_galery">
                            <div class="x_slider_2"
                                <i class="next_3_1 x_next_2"></i>
                                <i class="prev_3_1 x_prev_2"></i>

                                <div class="slider_3_1">
                                    <div class="slide_item">
                                        <div class="slide3">
                                            <img src="/wp-content/uploads/2016/05/32561848__2.jpg" />
                                        </div>
                                    </div>
                                    <div class="slide_item">
                                        <div class="slide3">
                                            <img src="/wp-content/uploads/2016/05/17.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>



                        <div class="mat_right">
                            <h2 class="mat_slide_head">Вариант столешницы 1</h2>

                            <span class="katalog_desc">Описание варианта столешницы 1</span>

                            <div class="mat_triggers">
                            </div>


                        </div>
                    </div>
                    
                </div>

                <ul class="tab-mat-type-3 tab-mat-style">
                    <li>
                        <a href="#tab-mat-3-1">
                            <i class="mat_img" style="background: url(/wp-content/uploads/2016/05/789-1.jpg) no-repeat"></i>
                            <span>Вариант столешницы 1</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="tab-mat-4" class="materials_4">
                <div class="mat_slide_type_4 mat_slide_style">
                    <div id="tab-mat-4-1">


                        <article class="slider_galery">
                            <div class="x_slider_2">
                                <i class="next_4_1 x_next_2"></i>
                                <i class="prev_4_1 x_prev_2"></i>

                                <div class="slider_4_1">
                                    <div class="slide_item">
                                        <div class="slide3">
                                            <img src="/wp-content/uploads/2016/05/655655.jpg" />
                                        </div>
                                    </div>
                                    <div class="slide_item">
                                        <div class="slide3">
                                            <img src="/wp-content/uploads/2016/05/f_minipicture_id55.jpg" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </article>



                        <div class="mat_right">
                            <h2 class="mat_slide_head">Вариант фартука для кухни 1</h2>

                            <span class="katalog_desc">Описание варианта фартука для кухни 1</span>

                            <div class="mat_triggers">
                            </div>

                        </div>
                    </div>
                </div>

                <ul class="tab-mat-type-4 tab-mat-style">
                    <li>
                        <a href="#tab-mat-4-1">
                            <i class="mat_img" style="background: url(/wp-content/uploads/2016/05/1111-1.jpg) no-repeat"></i>
                            <span>Вариант фартука для кухни 1</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="tab-mat-5" class="materials_5">
                <div class="mat_slide_type_5 mat_slide_style">
                    <div id="tab-mat-5-1">


                        <article class="slider_galery">
                            <div class="x_slider_2">
                                <i class="next_5_1 x_next_2"></i>
                                <i class="prev_5_1 x_prev_2"></i>

                                <div class="slider_5_1">
                                    <div class="slide_item">
                                        <div class="slide3">
                                            <img src="/wp-content/uploads/2016/05/901.jpg" />
                                        </div>
                                    </div>
                                    <div class="slide_item">
                                        <div class="slide3">
                                            <img src="/wp-content/uploads/2016/05/930-1.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>



                        <div class="mat_right">
                            <h2 class="mat_slide_head">Вариант фурнитура 1</h2>

                            <span class="katalog_desc">Описание варианта фурнитура 1.</span>

                            <div class="mat_triggers">
                                <span style="background: url(Content/images/color_3.png) no-repeat left">Свойство 1</span>
                                <span style="background: url(Content/images/hardness_1.png) no-repeat left">Свойство 2</span>
                                <span style="background: url(Content/images/price_2.png) no-repeat left">Свойство 3</span>
                            </div>


                        </div>
                    </div>
                    <div id="tab-mat-5-2">


                        <article class="slider_galery">
                            <div class="x_slider_2">
                                <i class="next_5_2 x_next_2"></i>
                                <i class="prev_5_2 x_prev_2"></i>

                                <div class="slider_5_2">
                                    <div class="slide_item">
                                        <div class="slide3">
                                            <img src="/wp-content/uploads/2016/05/vERXycosSCA.jpg" />
                                        </div>
                                    </div>
                                    <div class="slide_item">
                                        <div class="slide3">
                                            <img src="/wp-content/uploads/2016/05/pop29dk3nZg-1.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>



                        <div class="mat_right">
                            <h2 class="mat_slide_head">Вариант фурнитура 2</h2>

                            <span class="katalog_desc">Описание варианта фурнитура 2.</span>

                            <div class="mat_triggers">
                                <span style="background: url(Content/images/color_3.png) no-repeat left">Свойство 1</span>
                                <span style="background: url(Content/images/hardness_1.png) no-repeat left">Свойство 2</span>
                                <span style="background: url(Content/images/price_2.png) no-repeat left">Свойство 3</span>
                            </div>

 
                        </div>
                    </div>
                </div>

                <ul class="tab-mat-type-5 tab-mat-style">
                    <li>
                        <a href="#tab-mat-5-1">
                            <i class="mat_img" style="background: url(/wp-content/uploads/2016/05/5252.jpg) no-repeat"></i>
                            <span>Вариант фурнитура 1</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab-mat-5-2">
                            <i class="mat_img" style="background: url(/wp-content/uploads/2016/05/123123.jpg) no-repeat"></i>
                            <span>Вариант фурнитура 2</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="design" class="second_slide">
    <div class="wrap" style=" text-align:justify;">
        <h1 class="slide_head">Эргономика и функциональность</h1>

        <span class="trig_text">
            При оформлении кухни, гостиной или гардеробной требования эргономики и функциональности выходят на первый план. Важно, чтобы пользоваться мебелью было по-настоящему удобно. Именно поэтому проектирование корпусной мебели на заказ выполняется по специальным правилам. На эргономику мебели влияют следующие факторы: расположение функциональных зон относительно друг друга; геометрические параметры мебели (размеры рабочих поверхностей, высота расположения столешниц и ящиков и т.п.); наполнение мебели с учетом функционального зонирования. 
        </span>

        <span class="trig_text" style="margin-top:20px; text-align:center;">
            <img src="/Content/images/ill1.jpg" style="height:200px;"/>
            <img src="/Content/images/ill2.jpg" style="height:200px;" />
            <img src="/Content/images/ill3.jpg" style="height:200px;" />
        </span>

        <span class="trig_text" style="margin-top: 20px; margin-bottom:40px;">
            Создать по-настоящему эргономичную и комфортную мебель можно только при индивидуальном проектировании.  Компания «Мебель НЕКСТ» учитывает не только требования и пожелания заказчика, но и техническую сторону вопроса: расположение розеток, вытяжек, выводов канализации, точек подключения к водопроводу и т.п. 
        </span>

        <div id="button3" style="height:63px;">
            <a style="height:63px;" onclick="$('input:hidden[name=page-name]').val(' (дизайн-проект)');" class="open-call-back-popup_2 fon4" href="#">Получить дизайн-проект</a>
        </div>

    </div>
</div>

<div id="get_zamer" class="wrap">
    <h1 class="slide_head">Вызов дизайнера-замерщика</h1>

    <div class="zamer">
        <div class="zamer_left" style="height: 410px;">
            <span class="trig_text" style="width: 450px; margin-right: 200px; margin-top: 100px; text-align: justify;">
                Наши замерщики - настоящие профессионалы своего дела! Многолетний опыт работы позволяет им осуществлять замер, с учетом всех особенностей помещения, с большой точностью. Замерщики и дизайнеры работают без выходных поэтому могут приехать в любое время и провести с Вами столько времени сколько понадобится, для того чтобы создать проект той мебели о которой вы мечтали.<br/>
                Индивидуальный подход к каждому клиенту - вот что действительно важно!
            </span>
        </div>

        <div class="zamer_form">
            <div class="form_border">
                <span class="zamer_form_desc">Оставьте заявку на<b>Бесплатный ЗАМЕР!</b></span>
                <div role="form" class="wpcf7" id="wpcf7-f8-o1" lang="ru-RU" dir="ltr">
                    <div class="screen-reader-response"></div>
                    <form action="/#wpcf7-f8-o1" method="post" class="wpcf7-form" novalidate="novalidate">

                        <p>
                            <span class="wpcf7-form-control-wrap name"><input type="text" name="имя" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Ваше имя" /></span>
                        </p>
                        <p>
                            <span class="wpcf7-form-control-wrap phone"><input type="text" name="телефон" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ваш телефон" /></span>
                        </p>
                        <div class="big-button open-thank">
                            <div class="fonbutton">
                                <input type="submit" value="Оставить заявку" class="wpcf7-form-control wpcf7-submit" />
                            </div>
                        </div>

                        <!-- CF7 Modules -->
                        <div style='display:none;'><input type="hidden" name="page-name" value="" class="wpcf7-form-control wpcf7-hidden page-name" /></div>
                        <!-- End CF7 Modules -->

                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="questions" class="second_slide">
    <div class="wrap">
        <h1 class="slide_head">Это актуально</h1>

        <div id="accordion-container">
            <h2 class="accordion-header">Что влияет на стоимость изделия?</h2>

            <div class="accordion-content">
                <p>Существует несколько факторов влияющих на конечную стоимость корпусной мебели. Рассмотрим на примере кухонного гарнитура:</p>
                <p>
                    <b>Размер.</b>
                    <br/>
                    Чем больше кухня тем она дороже. Зависимость стоимости от размера-линейная.
                </p>

                <p>
                    <b>Материал из которого сделан фасад.</b>
                    <br/>
                    Самый не дорогой материал ДСП и МДФ-ПВХ (МДФ-ламинированная пленкой ПВХ) Это современный экологически чистый материал. Фасады с эмалевым покрытием (основа тоже МДФ) будут стоить на 10-15% дороже но зато цвета и оттенки такого покрытия имеют не ограниченное количество вариантов. Кухня с фасадом из массива будет стоить на 15-20% дороже чем, с фасадом МДФ ПВХ
                </p>

                <p>
                    <b>Фурнитура.</b>
                    <br />
                    Можно использовать простую фурнитуру, а можно а можно наполнить кухню доводчиками, амортизаторами удара, выдвижными системами. Эти мелочи не будут видны внешне, но очень существенно повлияют на удобство и комфорт при использовании кухни. Разница в стоимости в зависимости от применяемой фурнитуры может достигать 10-15%
                </p>

                <p>
                    <b>Столешница и ее толщина</b>
                    <br />
                    Самый распространенный материал столешниц-ламинированные столешницы. Они имеют два варианта толщины 28 и38мм. Столешница 38мм. толщиной дороже чем 28мм. На 10-15%. Столешницы из искусственного камня прочнее и более стойкие к химическому воздействию. Однако стоимость такой солешницы в разы больше чем ламинированной.
                </p>

                <p>
                    <b>Наличие декоративных элементов.</b>
                    <br />
                    К элементам декора относятся: Перильца(балясинки),пилястры, подсветка, карнизы, витражи, зеркала, решетки, стеновая панель и многое другое. Использование декоративных элементов превратит да же самую не дорогую кухню в маленький шедевр.
                </p>

                <p>
                    Учитывать все особенности и предпочтения, чтобы найти оптимальное для Вас соотношение между стоимостью, функциональностью  и красотой -  это и есть наша работа!
                </p>

</div>

        </div>

        <div id="accordion-container">
            <h2 class="accordion-header">Когда заказывать мебель?</h2>

            <div class="accordion-content">
                <p>Кухню можно заказать на любом этапе – до начала, во время или после ремонта.</p>
                <p>Когда заказывать кухонный гарнитур предстоит решить Вам, а мы расскажем плюсы и минусы покупки кухни на любом из этих этапов и, возможно, после прочтения Вам будет легче принять решение.</p>
                <p>
                    ЕСЛИ ВЫ РЕШИТЕ ЗАКАЗАТЬ КУХНЮ ПЕРЕД РЕМОНТОМ ИЛИ ВО ВРЕМЯ РЕМОНТА, ТО:
                </p>
                <p>
                    Мы сделаем замеры того помещения, которое есть у Вас на данный момент. Оценим состояние стен, углов и оговорим с Вами качество предстоящего ремонта и возможное изменение размеров. С учётом этого и запланируем размеры кухонного гарнитура. Например, отнимем несколько сантиметров от длины стены на толщину кухонного фартука, выравнивание стен под уровень, выведение угла под 90 градусов, в общем на погрешность ремонта (или прибавим в зависимости от ситуации).
                </p>
                <p>
                    Дизайнер даст рекомендации по размещению розеток и коммуникаций в зависимости от оптимального расположения бытовых приборов на кухне. В последствии, Вам не придётся переносить розетки и коммуникации, переделывать отверстие воздуховода или перекладывать плитку в нише для вытяжки. Ремонт Вы будете делать с учётом окончательного проекта мебели. Благодаря этому приобретете удобную кухню с расположением рабочей зоны и шкафов в соответствии с максимальной функциональностью и эргономикой кухонной мебели.
                </p>
                <p>
                    Вам надо будет проконтролировать мастеров по ремонту, чтобы после ремонта стены были нужного для мебели размера, а розетки на своих местах.
                </p>
                <p>
                    Вы сэкономите время и сможете быстрее, как минимум на месяц, пользоваться новой кухней. Срок изготовления кухни составляет в среднем около 3 – 6 недель (зависит от материала фасада). За это время Вы сделаете ремонт и сразу же, по его окончании, получите кухонный гарнитур.
                </p>
                
                <br/>
                <p>
                    ЕСЛИ ВЫ РЕШИТЕ ЗАКАЗАТЬ КУХНЮ ПОСЛЕ РЕМОНТА, ТО:
                </p>
                <p>
                    Дизайнер спроектирует мебель исходя из особенностей сделанного ремонта, расположения фартука, места для вытяжки и т.д.
                </p>
                <p>
                    Наш специалист оценит готовность помещения к установке мебели, сделает замеры. Мы изготовим мебель исходя из точных размеров помещения и нюансов отделки стен.
                </p>
                <p>
                    Возможно, Вам придется переносить или заглушить сделанные розетки. Чтобы избежать этого воспользуйтесь НАШЕЙ УСЛУГОЙ - ИНТЕРЬЕР ПОД КЛЮЧ (мы возьмем на себя все отделочные и декоративные работы вашего помещения с учетом всех нюансов установки будующей мебели)
                </p>

            </div>

        </div>

        <div id="accordion-container">
            <h2 class="accordion-header">Есть готовый проект или понравилось фото корпусной мебели в интернете?</h2>

            <div class="accordion-content">
                <p>Сделаем любую корпусную мебель, которую вы найдете в интернете. Присылайте фотографии или рисунки, мебели которые вам нравятся а так же свои пожелания. Мы подготовим эскиз и посчитаем стоимость изготовления. Если у вас есть уже готовый проект то присылаете его нам для расчета стоимости.</p>
            </div>

        </div>

    </div>
</div>

<div class="footer">
    <div class="bg_text_favorit">
        <span class="foot_head stroke_2px">У Вас остались вопросы?</span>

        <div class="foot_center">
            <div class="foot_call">
                <span class="foot_call_head stroke_2px">Звоните!</span>
                <span class="foot_call_phone stroke_1px">@CommonHtmlHelpers.Phone()</span>
            </div>

            <span class="foot_or stroke_1px">или</span>

            <div class="foot_obrat">
                <div id="button5">
                    <a onclick="" class="open-call-back-popup_3 fon5" href="#">Закажите звонок</a>
                </div>

                <span class="foot_obrat_desc stroke_1px">...и мы сами с Вами свяжемся в удобное</br>для Вас время и ответим на все</br>интересующие Вас вопросы</span>
            </div>
        </div>

        <div class="foot_bottom">
            <div class="head_1 wrap">
                <div class="head_right">
                    <span class="head_phone block_center"> @CommonHtmlHelpers.Phone()</span>
                    <span class="head_address block_center">@CommonHtmlHelpers.Address()</span>
                </div>


                <div class="head_zag">
                    <span class="zagolovok_1 block_center">Производство мебели на заказ</span>
                    <span class="zagolovok_2 block_center">в Нижнем Новгороде</span>
                </div>

                <div class="head_logo">
                    <img src="/Content/images/logo_2.png">
                </div>
            </div>
        </div>

    </div>
</div>

<div class="overlay">
    <div class="over_text"></div>
</div>

<div class="call-back-popup calc_price">
    <span class="calc_head">Отправьте заявку на расчет стоимости!</span>

    <div class="calc_left">
        <span class="calc_desc_head">Стоимость мебели на заказ всегда индивидуальна.</span>
        <span class="calc_desc_text" style="text-align:justify;">Чтобы рассчитать стоимость Вашей мебели нам необходимо знать размеры стен, по которым будет располагаться будущее изделие, а так же информацию по наличию труб и колонок.</span>

        <span class="calc_desc_head">Изготовление по вашим фото или эскизам</span>
        <span class="calc_desc_text" style="text-align:justify;">Сделаем любую корпусную мебель, которую вы найдете в интернете. Присылайте фотографии или рисунки мебели, которые вам понравились, а так же свои пожелания. Мы подготовим эскиз и посчитаем стоимость. Если у вас есть уже готовый проект, то присылайте его нам для расчета стоимости.</span>
    </div>

    <div class="calc_right">
        <span class="calc_call_head">Звоните!</span>
        <span class="calc_call_phone">@CommonHtmlHelpers.Phone()</span>
        <span class="calc_or">...или</span>

        <div class="calc_form">
            <div class="form_border">
                <span class="calc_form_desc"><b>Оставьте заявку</b>и мы сами свяжемся с Вами</span>

                <div role="form" class="wpcf7" id="wpcf7-f429-o2" lang="ru-RU" dir="ltr">
                    <div class="screen-reader-response"></div>
                    <form action="/#wpcf7-f429-o2" method="post" class="wpcf7-form" novalidate="novalidate">
                        <p>
                            <span class="wpcf7-form-control-wrap name"><input type="text" name="имя" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Ваше имя" /></span>
                        </p>
                        <p>
                            <span class="wpcf7-form-control-wrap phone"><input type="text" name="телефон" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ваш телефон" /></span>
                        </p>
                        <p>
                            <span class="wpcf7-form-control-wrap message"><input type="text" name="сообщение" value="" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Комментарий" /></span>
                        </p>
                        <div class="filesdiv">
                        </div>
                        <div class="big-button" style="margin-bottom:10px;">
                            <div class="fonbutton">
                                <input type="button" value="Добавить файл" class="AddFile" />
                            </div>
                        </div>
                        <div class="big-button open-thank">
                            <div class="fonbutton">
                                <input type="submit" value="Отправить заявку" class="wpcf7-form-control wpcf7-submit" />
                            </div>
                        </div>

                        <!-- CF7 Modules -->
                        <div style='display:none;'><input type="hidden" name="page-name-2" value="" class="wpcf7-form-control wpcf7-hidden page-name-2" /></div>
                        <!-- End CF7 Modules -->

                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <a class="close-popup" href="#"></a>
</div>

<div class="call-back-popup_2 calc_price">
    <span class="calc_head">Дизайн-проект Вашей мебели</span>

    <div class="calc_left">
        <span class="calc_desc_text">Заказывая индивидуальный проект, Вы не только избавляетесь от хлопот с организацией пространства, но и получаете мебель Вашей мечты, идеальную и подходящую Вам во всех аспектах.</span>

        <span class="calc_desc_text">Мебель спроектированная индивидуально, учитывает все особенности имеющегося пространства, что позволяет использовать каждый квадратный сантиметр с пользой.</span>

        <span class="calc_desc_text">Для составления продуманного дизайн-проекта нам необходимо знать о размерах и особенностях  расположения всех коммуникаций.</span>

        <span class="calc_desc_text"><b>Выезд мастера, замер и составление дизайн-проекта осуществляется бесплатно!</b></span>

        <span class="calc_desc_head">Изготовление по вашим фото или эскизам</span>
        <span class="calc_desc_text" style="text-align:justify;">Сделаем любую корпусную мебель, которую вы найдете в интернете. Присылайте фотографии или рисунки, мебели которые вам нравятся а так же свои пожелания.  Мы подготовим эскиз и посчитаем стоимость изготовления   Если у вас есть уже готовый проект то присылаете его нам для расчета стоимости.</span>
    </div>

    <div class="calc_right">
        <span class="calc_call_head">Звоните!</span>
        <span class="calc_call_phone">@CommonHtmlHelpers.Phone()</span>
        <span class="calc_or">...или</span>

        <div class="calc_form">
            <div class="form_border">
                <span class="zamer_form_desc">Оставьте заявку на<b>Бесплатный замер!</b></span>
                <div role="form" class="wpcf7" id="wpcf7-f8-o3" lang="ru-RU" dir="ltr">
                    <div class="screen-reader-response"></div>
                    <form action="/#wpcf7-f8-o3" method="post" class="wpcf7-form" novalidate="novalidate">
                        <p>
                            <span class="wpcf7-form-control-wrap name"><input type="text" name="имя" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Ваше имя" /></span>
                        </p>
                        <p>
                            <span class="wpcf7-form-control-wrap phone"><input type="text" name="телефон" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ваш телефон" /></span>
                        </p>
                        <p>
                            <span class="wpcf7-form-control-wrap message"><input type="text" name="сообщение" value="" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Комментарий" /></span>
                        </p>
                        <div class="filesdiv">
                        </div>
                        <div class="big-button" style="margin-bottom:10px;">
                            <div class="fonbutton">
                                <input type="button" value="Добавить файл" class="AddFile" />
                            </div>
                        </div>
                        <div class="big-button open-thank">
                            <div class="fonbutton">
                                <input type="submit" value="Оставить заявку" class="wpcf7-form-control wpcf7-submit" />
                            </div>
                        </div>

                        <!-- CF7 Modules -->
                        <div style='display:none;'><input type="hidden" name="page-name" value="" class="wpcf7-form-control wpcf7-hidden page-name" /></div>
                        <!-- End CF7 Modules -->

                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <a class="close-popup" href="#"></a>
</div>

<div class="call-back-popup_3">
    <span class="call_back_head">Мы Вам перезвоним!</span>

    <span class="call_back_text">Оставьте свой номер телефона и мы перезвоним</br>в удобное для Вас время и ответим на все</br>интересующие Вас вопросы</span>

    <div class="call_back_form">
        <div role="form" class="wpcf7" id="wpcf7-f9-o4" lang="ru-RU" dir="ltr">
            <div class="screen-reader-response"></div>
            <form action="/#wpcf7-f9-o4" method="post" class="wpcf7-form" novalidate="novalidate">
                <p>
                    <span class="wpcf7-form-control-wrap name"><input type="text" name="имя" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Ваше имя" /></span>
                </p>
                <p>
                    <span class="wpcf7-form-control-wrap phone"><input type="text" name="телефон" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ваш телефон" /></span>
                </p>
                <p>
                    <span class="wpcf7-form-control-wrap time"><input type="text" name="время" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Удобное время" /></span>
                </p>
                <div class="big-button open-thank">
                    <div class="fonbutton">
                        <input type="submit" value="Жду звонка" class="wpcf7-form-control wpcf7-submit" />
                    </div>
                </div>

                <!-- CF7 Modules -->
                <div style='display:none;'><input type="hidden" name="page-name-3" value="" class="wpcf7-form-control wpcf7-hidden page-name-3" /></div>
                <!-- End CF7 Modules -->

                <div class="wpcf7-response-output wpcf7-display-none"></div>
            </form>
        </div>
    </div>

    <a class="close-popup" href="#"></a>
</div>

<div class="thank">
    <a class="close-popup" href="#"></a>
    <h2>Ваша заявка принята!</h2>
    <p>Мы свяжемся с Вами в самое ближайшее время!</p>
</div>

<div class="templatefile fileline" style="display:none; text-align: left; width:230px; margin-bottom:10px;">
    <p style="display: inline-block; float: left;">
        <span class="wpcf7-form-control-wrap phone">
            <input type="file" style="display:none;" />
            <input type="text" name="" value="" style="width:150px;" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Прикрепить файл" readonly />
        </span>
    </p>
    <div class="big-button" style="width:40px; height:40px; display:inline-block">
        <div class="fonbutton" style="width:40px; height:40px;">
            <input type="button" value="X" class="RemoveFile" style="width:40px; height:40px;" />
        </div>
    </div>
</div>



<script src="/Scripts/script_2.js"></script>
<script src="/Scripts/script_3.js"></script>



<script>
    $('.slider_1_1')
.cycle({
    speed: 'slow',
    timeout: 0,
    next: '.next_1_1',
    prev: '.prev_1_1'
});
    $('.slider_1_2')
.cycle({
    speed: 'slow',
    timeout: 0,
    next: '.next_1_2',
    prev: '.prev_1_2'
});
    $('.slider_1_3')
.cycle({
    speed: 'slow',
    timeout: 0,
    next: '.next_1_3',
    prev: '.prev_1_3'
});
    $('.slider_1_4')
.cycle({
    speed: 'slow',
    timeout: 0,
    next: '.next_1_4',
    prev: '.prev_1_4'
});
    $('.slider_2_1')
.cycle({
    speed: 'slow',
    timeout: 0,
    next: '.next_2_1',
    prev: '.prev_2_1'
});
    $('.slider_2_2')
.cycle({
    speed: 'slow',
    timeout: 0,
    next: '.next_2_2',
    prev: '.prev_2_2'
});
    $('.slider_2_3')
.cycle({
    speed: 'slow',
    timeout: 0,
    next: '.next_2_3',
    prev: '.prev_2_3'
});
    $('.slider_2_4')
.cycle({
    speed: 'slow',
    timeout: 0,
    next: '.next_2_4',
    prev: '.prev_2_4'
});
    $('.slider_2_5')
.cycle({
    speed: 'slow',
    timeout: 0,
    next: '.next_2_5',
    prev: '.prev_2_5'
});
    $('.slider_3_1')
.cycle({
    speed: 'slow',
    timeout: 0,
    next: '.next_3_1',
    prev: '.prev_3_1'
});
    $('.slider_3_2')
.cycle({
    speed: 'slow',
    timeout: 0,
    next: '.next_3_2',
    prev: '.prev_3_2'
});
    $('.slider_3_3')
.cycle({
    speed: 'slow',
    timeout: 0,
    next: '.next_3_3',
    prev: '.prev_3_3'
});
    $('.slider_4_1')
.cycle({
    speed: 'slow',
    timeout: 0,
    next: '.next_4_1',
    prev: '.prev_4_1'
});
    $('.slider_5_1')
.cycle({
    speed: 'slow',
    timeout: 0,
    next: '.next_5_1',
    prev: '.prev_5_1'
});
    $('.slider_5_2')
.cycle({
    speed: 'slow',
    timeout: 0,
    next: '.next_5_2',
    prev: '.prev_5_2'
});
</script>

<script>
    $(function () {
        $('#typical_katalog').find('.tab-mat-type-1 li:first').addClass('select');
        $('#typical_katalog').find('.tab-mat-type-1 li:first').addClass('first_tab');
        $('#typical_katalog').find('.tab-mat-type-1 li:last').addClass('last_tab');
        $('.typical_katalog_1 .mat_slide_type_1>div').css('opacity', 0).filter(":first").css('opacity', 1);
        $('.typical_katalog_1 .mat_slide_type_1>div').css('z-index', -1).filter(":first").css('z-index', 0);
        $('#typical_katalog').find('.tab-mat-type-1 a').click(function () {
            $('.typical_katalog_1 .mat_slide_type_1>div').animate({ 'opacity': 0 }, 150).filter(this.hash).animate({ 'opacity': 1 }, 150);
            $('.typical_katalog_1 .mat_slide_type_1>div').css('z-index', -1).filter(this.hash).css('z-index', 0);
            $('#typical_katalog').find('.tab-mat-type-1  li').removeClass('select');
            $(this).parent().addClass('select');
            return (false);
        })
    });
    $(function () {
        $('#typical_katalog').find('.tab-mat-type-2 li:first').addClass('select');
        $('#typical_katalog').find('.tab-mat-type-2 li:first').addClass('first_tab');
        $('#typical_katalog').find('.tab-mat-type-2 li:last').addClass('last_tab');
        $('.typical_katalog_2 .mat_slide_type_2>div').css('opacity', 0).filter(":first").css('opacity', 1);
        $('.typical_katalog_2 .mat_slide_type_2>div').css('z-index', -1).filter(":first").css('z-index', 0);
        $('#typical_katalog').find('.tab-mat-type-2 a').click(function () {
            $('.typical_katalog_2 .mat_slide_type_2>div').animate({ 'opacity': 0 }, 150).filter(this.hash).animate({ 'opacity': 1 }, 150);
            $('.typical_katalog_2 .mat_slide_type_2>div').css('z-index', -1).filter(this.hash).css('z-index', 0);
            $('#typical_katalog').find('.tab-mat-type-2  li').removeClass('select');
            $(this).parent().addClass('select');
            return (false);
        })
    });
    $(function () {
        $('#typical_katalog').find('.tab-mat-type-3 li:first').addClass('select');
        $('#typical_katalog').find('.tab-mat-type-3 li:first').addClass('first_tab');
        $('#typical_katalog').find('.tab-mat-type-3 li:last').addClass('last_tab');
        $('.typical_katalog_3 .mat_slide_type_3>div').css('opacity', 0).filter(":first").css('opacity', 1);
        $('.typical_katalog_3 .mat_slide_type_3>div').css('z-index', -1).filter(":first").css('z-index', 0);
        $('#typical_katalog').find('.tab-mat-type-3 a').click(function () {
            $('.typical_katalog_3 .mat_slide_type_3>div').animate({ 'opacity': 0 }, 150).filter(this.hash).animate({ 'opacity': 1 }, 150);
            $('.typical_katalog_3 .mat_slide_type_3>div').css('z-index', -1).filter(this.hash).css('z-index', 0);
            $('#typical_katalog').find('.tab-mat-type-3  li').removeClass('select');
            $(this).parent().addClass('select');
            return (false);
        })
    });
    $(function () {
        $('#typical_katalog').find('.tab-mat-type-4 li:first').addClass('select');
        $('#typical_katalog').find('.tab-mat-type-4 li:first').addClass('first_tab');
        $('#typical_katalog').find('.tab-mat-type-4 li:last').addClass('last_tab');
        $('.typical_katalog_4 .mat_slide_type_4>div').css('opacity', 0).filter(":first").css('opacity', 1);
        $('.typical_katalog_4 .mat_slide_type_4>div').css('z-index', -1).filter(":first").css('z-index', 0);
        $('#typical_katalog').find('.tab-mat-type-4 a').click(function () {
            $('.typical_katalog_4 .mat_slide_type_4>div').animate({ 'opacity': 0 }, 150).filter(this.hash).animate({ 'opacity': 1 }, 150);
            $('.typical_katalog_4 .mat_slide_type_4>div').css('z-index', -1).filter(this.hash).css('z-index', 0);
            $('#typical_katalog').find('.tab-mat-type-4  li').removeClass('select');
            $(this).parent().addClass('select');
            return (false);
        })
    });
</script>

<script>
    $(function () {
        $('#materials').find('.tab-mat-type-1 li:first').addClass('select');
        $('#materials').find('.tab-mat-type-1 li:first').addClass('first_tab');
        $('#materials').find('.tab-mat-type-1 li:last').addClass('last_tab');
        $('.materials_1 .mat_slide_type_1>div').css('opacity', 0).filter(":first").css('opacity', 1);
        $('.materials_1 .mat_slide_type_1>div').css('z-index', -1).filter(":first").css('z-index', 0);
        $('#materials').find('.tab-mat-type-1 a').click(function () {
            $('.materials_1 .mat_slide_type_1>div').animate({ 'opacity': 0 }, 150).filter(this.hash).animate({ 'opacity': 1 }, 150);
            $('.materials_1 .mat_slide_type_1>div').css('z-index', -1).filter(this.hash).css('z-index', 0);
            $('#materials').find('.tab-mat-type-1  li').removeClass('select');
            $(this).parent().addClass('select');
            return (false);
        })
    });
    $(function () {
        $('#materials').find('.tab-mat-type-2 li:first').addClass('select');
        $('#materials').find('.tab-mat-type-2 li:first').addClass('first_tab');
        $('#materials').find('.tab-mat-type-2 li:last').addClass('last_tab');
        $('.materials_2 .mat_slide_type_2>div').css('opacity', 0).filter(":first").css('opacity', 1);
        $('.materials_2 .mat_slide_type_2>div').css('z-index', -1).filter(":first").css('z-index', 0);
        $('#materials').find('.tab-mat-type-2 a').click(function () {
            $('.materials_2 .mat_slide_type_2>div').animate({ 'opacity': 0 }, 150).filter(this.hash).animate({ 'opacity': 1 }, 150);
            $('.materials_2 .mat_slide_type_2>div').css('z-index', -1).filter(this.hash).css('z-index', 0);
            $('#materials').find('.tab-mat-type-2  li').removeClass('select');
            $(this).parent().addClass('select');
            return (false);
        })
    });
    $(function () {
        $('#materials').find('.tab-mat-type-3 li:first').addClass('select');
        $('#materials').find('.tab-mat-type-3 li:first').addClass('first_tab');
        $('#materials').find('.tab-mat-type-3 li:last').addClass('last_tab');
        $('.materials_3 .mat_slide_type_3>div').css('opacity', 0).filter(":first").css('opacity', 1);
        $('.materials_3 .mat_slide_type_3>div').css('z-index', -1).filter(":first").css('z-index', 0);
        $('#materials').find('.tab-mat-type-3 a').click(function () {
            $('.materials_3 .mat_slide_type_3>div').animate({ 'opacity': 0 }, 150).filter(this.hash).animate({ 'opacity': 1 }, 150);
            $('.materials_3 .mat_slide_type_3>div').css('z-index', -1).filter(this.hash).css('z-index', 0);
            $('#materials').find('.tab-mat-type-3  li').removeClass('select');
            $(this).parent().addClass('select');
            return (false);
        })
    });
    $(function () {
        $('#materials').find('.tab-mat-type-4 li:first').addClass('select');
        $('#materials').find('.tab-mat-type-4 li:first').addClass('first_tab');
        $('#materials').find('.tab-mat-type-4 li:last').addClass('last_tab');
        $('.materials_4 .mat_slide_type_4>div').css('opacity', 0).filter(":first").css('opacity', 1);
        $('.materials_4 .mat_slide_type_4>div').css('z-index', -1).filter(":first").css('z-index', 0);
        $('#materials').find('.tab-mat-type-4 a').click(function () {
            $('.materials_4 .mat_slide_type_4>div').animate({ 'opacity': 0 }, 150).filter(this.hash).animate({ 'opacity': 1 }, 150);
            $('.materials_4 .mat_slide_type_4>div').css('z-index', -1).filter(this.hash).css('z-index', 0);
            $('#materials').find('.tab-mat-type-4  li').removeClass('select');
            $(this).parent().addClass('select');
            return (false);
        })
    });
    $(function () {
        $('#materials').find('.tab-mat-type-5 li:first').addClass('select');
        $('#materials').find('.tab-mat-type-5 li:first').addClass('first_tab');
        $('#materials').find('.tab-mat-type-5 li:last').addClass('last_tab');
        $('.materials_5 .mat_slide_type_5>div').css('opacity', 0).filter(":first").css('opacity', 1);
        $('.materials_5 .mat_slide_type_5>div').css('z-index', -1).filter(":first").css('z-index', 0);
        $('#materials').find('.tab-mat-type-5 a').click(function () {
            $('.materials_5 .mat_slide_type_5>div').animate({ 'opacity': 0 }, 150).filter(this.hash).animate({ 'opacity': 1 }, 150);
            $('.materials_5 .mat_slide_type_5>div').css('z-index', -1).filter(this.hash).css('z-index', 0);
            $('#materials').find('.tab-mat-type-5  li').removeClass('select');
            $(this).parent().addClass('select');
            return (false);
        })
    });
</script>

<script type='text/javascript' src='/Scripts/jquery.form.min.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var _wpcf7 = { "loaderUrl": "\/Content\/images\/ajax-loader.gif", "recaptchaEmpty": "\u041f\u043e\u0436\u0430\u043b\u0443\u0439\u0441\u0442\u0430 \u043f\u043e\u0434\u0442\u0432\u0435\u0440\u0434\u0438\u0442\u0435, \u0447\u0442\u043e \u0412\u044b - \u043d\u0435 \u0440\u043e\u0431\u043e\u0442.", "sending": "\u041e\u0442\u043f\u0440\u0430\u0432\u043a\u0430..." };
    /* ]]> */
</script>
<script type='text/javascript' src='/Scripts/plugins/contact-form/scripts.js'></script>
<script type='text/javascript' src='/Scripts/wp-embed.min.js'></script>

<script crossorigin="anonymous" async type="text/javascript" src="//api.pozvonim.com/widget/callback/v3/9b3f4cbe83d82f7a662e30f348826f14/connect" id="check-code-pozvonim" charset="UTF-8"></script> 

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter36653735 = new Ya.Metrika({
                    id: 36653735,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true
                });
            } catch (e) { }
        });

        var n = d.getElementsByTagName("script")[0],
         s = d.createElement("script"),
         f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/36653735" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
